* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: rgb(101, 13, 13);
}

.inicio {
    color: black;
    position: absolute;
}

.fundo1 {
    margin-top: 5rem;
    margin-left: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 15rem;
    height: 6rem;
    padding: 2rem;
}

.inicio::after {
    content: "Xuxu";
    font-family: "Dancing Script", serif;
    position: absolute;
    display: flex;
    margin-left: 4rem;
    margin-bottom: -2rem;
    font-size: 2rem;
}

/* .amo {
    font-family: "Dancing Script", serif;
    position: absolute;
    display: flex;
    margin-bottom: -2rem;
    font-size: 2rem;
} */

.buquee {
    margin-top: 7rem;
    margin-left: 20rem;
    width: 10rem;
    background: transparent;
    transform: rotate(60deg);
}

.musicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.nomemusi {
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.separar {
    display: flex;
    justify-content: center;
    gap: 2rem; 
    margin-bottom: 8rem; 
}

.musica01, .musica02, .musica03,
.musica04, .musica05, .musica06 {
    border: 0.2rem solid rgb(0, 0, 0);
    width: 11rem;
    height: 11rem;
    text-align: center;
}

.musica01 img, .musica02 img, .musica03 img,
.musica04 img, .musica05 img, .musica06 img {
    width: 11rem;
    height: 11rem;
}

.musica01 img:hover, .musica02 img:hover, .musica03 img:hover,
.musica04 img:hover, .musica05 img:hover, .musica06 img:hover {
    width: 12rem;
    height: 12rem;
    transition: 1s;
}

.musicas a {
    text-decoration: none;
    color: aliceblue;
}

.musicas p {
    color: aliceblue;
    font-size: 1rem;
    margin: 0.2rem 0;
    text-align: center;
}

.motivos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.motivos h2 {
    display: flex;
    color: aliceblue;
    justify-content: center;
}

.motivos img {
    display: flex;
    rotate: 270deg;
    justify-content: center;
    width: 25rem;
    height: 35rem;
}