* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: rgb(101, 13, 13);
}

.inicio {
    color: black;
    position: absolute;
}

.fundo1 {
    margin-top: 5rem;
    margin-left: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 15rem;
    height: 6rem;
    padding: 2rem;
}

.amo {
    font-family: "Dancing Script", serif;
    position: absolute;
    display: flex;
    margin-bottom: -2rem;
    font-size: 2rem;
}

.buquee {
    margin-top: 7rem;
    margin-left: 20rem;
    width: 10rem;
    background: transparent;
    transform: rotate(60deg);
}

.musicas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.nomemusi {
    color: aliceblue;
    font-size: 2rem;
}